#cloud-config
# ci-runner cloud-init (LXC may not run cloud-init; kept for parity / VM use).
hostname: ${hostname}
manage_etc_hosts: true
users:
  - default
  - name: ${username}
    gecos: Lab administrator
    groups: [sudo, docker]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: true
    ssh_authorized_keys: ${ssh_authorized_keys}
package_update: true
package_upgrade: false
packages: ${packages}
runcmd:
  - [ sh, -c, "echo ci-runner cloud-init complete > /var/log/lab-cloud-init.log" ]
